<app-header></app-header>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-7 mx-sm-auto">
                    <h4 class="mt-5 font-weight-bold">Employee List</h4>
                    <button class="btn btn-sm btn-success mb-3" (click)="btnClick()" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add Employee</button>
                    <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Success!</strong> Insert employee
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div *ngIf="alertError" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Success!</strong> Delete employee
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div *ngIf="alertUpdate" class="alert alert-info alert-dismissible fade show" role="alert">
                        <strong>Success!</strong> Update employee
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div class="table-responsive">
                        <div class="list-group">
                            <div class="list-group-item list-group-item-action"  *ngFor="let result of getDataEmployee | paginate: { itemsPerPage: 10, currentPage: p }" aria-current="true">
                              <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Username : {{ result.username.toUpperCase() }}</h5>
                                <small>Birth Date : {{ result.birthDate }}</small>
                              </div>
                              <p class="mb-1">Basic Salary : {{ formatRupiah(result.basicSalary) }}</p>
                              <small>
                                <span style="cursor: pointer;" class="badge bg-danger" (click)="deleteAllEmployee(result)">Delete</span>
                                <span style="cursor: pointer;" class="badge bg-primary mx-1" (click)="updateAllEmployee(result)" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Update</span>
                                <span style="cursor: pointer;" class="badge bg-info" (click)="getByOneAllEmployee(result)" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Detail</span>
                              </small>
                            </div>
                            <pagination-controls (pageChange)="p = $event" class="mt-3"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg" style="margin-top: 5rem;">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" *ngIf="showAdd" id="staticBackdropLabel">Add New Employee</h5>
            <h5 class="modal-title" *ngIf="showUpdate" id="staticBackdropLabel">Update Employee</h5>
            <h5 class="modal-title" *ngIf="showDetail" id="staticBackdropLabel">Details Employee</h5>
            <button type="button" class="btn-close" id="closeModal" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="formValue"  autocomplete="off">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="form-floating mb-3">
                                <input formControlName="username" 
                                class="form-control" type="text" id="floatingInput" placeholder="Username">
                                <label for="floatingInput">Username</label>
                                <!-- <span class="text-danger float-end d-block mb-2">Username is Required</span> -->
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-floating mb-3">
                                <input formControlName="firstName" type="text" class="form-control" id="floatingInput" placeholder="First Name">
                                <label for="floatingInput">First Name</label>
                                <!-- <span class="text-danger float-end d-block mb-2">First Name is Required</span> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="form-floating mb-3">
                                <input formControlName="lastName" type="text" class="form-control" id="floatingInput" placeholder="Last Name">
                                <label for="floatingInput">Last Name</label>
                                <!-- <span class="text-danger float-end d-block mb-2">Last Name is Required</span> -->
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-floating mb-3">
                                <input formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="Email">
                                <label for="floatingInput">Email</label>
                                <!-- <span class="text-danger float-end d-block mb-2">Email is Required, format email.</span> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="form-floating mb-3">
                                <input formControlName="birthDate" type="date" class="form-control" id="floatingInput" placeholder="Birth Date">
                                <label for="floatingInput">Birth Date</label>
                                <!-- <span class="text-danger float-end d-block mb-2">Birth Date is Required.</span> -->
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-floating mb-3">
                                <input formControlName="basicSalary" type="text" (keypress)="numberOnly($event)" class="form-control" id="floatingInput" placeholder="Salary">
                                <label for="floatingInput">Salary</label>
                                <!-- <span class="text-danger float-end d-block mb-2">Salary is Required, only number.</span> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="form-floating mb-3">
                                <input formControlName="status" type="text" class="form-control" id="floatingInput" placeholder="Meried / No Meried">
                                <label for="floatingInput">Status (Meried / No Meried)</label>
                                <!-- <span class="text-danger float-end d-block mb-2">Status is Required.</span> -->
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-floating">
                                <select formControlName="group" id="" class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                                  <option selected>Select Group</option>
                                  <option *ngFor="let list of optionGroup" [ngValue]="list.label">{{list.value}}</option>
                                </select>
                                <label for="floatingSelectGrid">Group</label>
                            </div>
                            <!-- <span class="text-danger float-end d-block mb-2">Group is Required.</span> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea  formControlName="description" class="form-control" placeholder="Description" id="floatingTextarea"></textarea>
                                <label for="floatingTextarea">Description</label>
                                <!-- <span class="text-danger float-end d-block mb-2">Description is Required.</span> -->
                            </div>
                        </div>
                        <div class="col-12 mt-3">
                            <button class="btn btn-sm btn-success float-end" *ngIf="showAdd" (click)="postEmployeeDetails()">Save</button>
                            <button class="btn btn-sm btn-success float-end" *ngIf="showUpdate" (click)="updateEmployeeDetails()">Update</button>
                            <button type="button" class="btn btn-secondary float-end" *ngIf="showDetail" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
<app-footer></app-footer>